<section class="footer-wrap">
	<footer>
		<ul class="footer-nav">
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="index.html">Home</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="apply.html">Start</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="about-us.html">About Us</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="how-it-works.html">How it Works</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="faq.html">F.A.Q.</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="rates-fees.html">Rates & Fees</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="terms-of-use.html">Terms of Use</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="privacy-policy.html">Privacy Policy</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="contact-us.html">Contact Us</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="responsible-lending.html">Responsible Lending</a>
			</li>
			<li class="footer-nav-item">
				<a class="footer-nav-link" href="unsubscribe.html">Unsubscribe</a>
			</li>
		</ul>
		<div class="terms">
			<div class="terms-p">
				<p>Disclaimer: <strong>This service is not a lender and therefore cannot determine whether or not you are ultimately approved for a personal loan, nor can we determine the amount of credit you may be offered.</strong> Instead, we facilitate business relationships between consumers like you and the lenders in our network. Our purpose and goal is to match you with one or more lenders from within our network who can provide you with the cash you need. We will never act as an agent or representative for any of our lenders, so you can rest comfortably in the knowledge that you will receive fair and competitive offers.</p>
				<p> In order to request a personal loan through this website, you should first fill out our short, easy and secure online form. Once you click to submit it, this information will be forwarded throughout our network of lenders who will review your details and determine whether or not they can offer you a credit. Since each lender is different and we have no say in the rates and fees you are charged for a loan, we urge you to take the time to review the details of each offer you receive very carefully before you accept or decline it. Once you have found a loan offer that works for you, you will be asked to provide your electronic signature; this binds you into a contract with the lender which means that you are legally obligated to adhere to the terms in the loan agreement. You are never under any obligation to accept an offer from any lender and you may cancel the process at any time without penalty. We will not be held accountable for any charges or terms presented to you by any lender and we are not responsible for any business agreement between you and any lender.</p>
				<p>We can not guarantee that completing an online form will result in your being matched with a lender, being offered a loan product with satisfactory rates or terms, or a loan product of the requested sum or on the desirable terms, or receiving any approval from a lender in the first place. Participating lenders may verify your social security number, driver license number, national ID, or any other state or federal identifications and review your information against national databases to include but not limited to Equifax, Transunion, and Experian to determine credit worthiness, credit standing and/or credit capacity. By submitting your information via our online form on this website, you agree to allow any and all participating lenders to verify your information and check your credit. Cash transfer times and terms may vary from lender to lender. Not all the lenders in our network can provide up to $3,000. The limits and regulations vary from state to state. </p>
				<p>To help government fight identity theft, the funding of  terrorism and money laundering activities, and to help attempt to verify a customer’s identity, Lenders may obtain, verify, and record information that identifies the customer. </p>
			</div>
		</div>
		<div class="footer-content">
			<div class="article-p">
				<p class=""><strong> APR Disclosure</strong></p>
				<p> The APR associated with your loan stands for the annual percentage rate, or the amount of interest you will be expected to pay in relation to the length of your loan term. Most of the time, the APR for personal loans can reach up to 1386.00%, though this can vary somewhat. Some states cap APR and the  amounts of charges for online personal loans. APRs may depend on multiple factors like lender’s terms and conditions, type and term of your loan request, state of residence, creditworthiness. We're not able to supply you with an exact APR that you will be charged  if you are approved for a loan.</p>
				<div class="deploy">
					<p class="deploy-title" data-deploy-title="06" onclick="deploy(this)"></p>
					<div class="deploy-wrap" data-deploy-wrap="06">
						<p data-deploy-content="06"></p>
					</div>
					<p class="deploy-title" data-deploy-title="01" onclick="deploy(this)">Implications of Late Payment</p>
					<div class="deploy-wrap" data-deploy-wrap="01">
						<p data-deploy-content="01"> If you are unable to repay your loan on time for any reason, please contact your lender as soon as possible. Late payment fees are set by your lender in accordance with the regulations in your state, and lenders also determine their own policies in regard to how they handle late payments. There are several courses of action that your lender may take, so you should check your loan agreement for specific information that pertains to your lender. For more information about your lender's specific procedures as they apply to late payments, please review your loan agreement or contact your lender directly.</p>
					</div>
					<p class="deploy-title" data-deploy-title="02" onclick="deploy(this)">Implications of Nonpayment
					</p>
					<div class="deploy-wrap" data-deploy-wrap="02">
						<p data-deploy-content="02"> Financial Implications – The cost associated with personal loans of up to $500 can range from 15% to 40%, and these costs may climb even higher for loans that are greater than $500 in value. Before you sign your agreement, you should check these fees carefully. Similarly, there may also be charges applied for nonsufficient funds. As an example, if your $100 loan is 15 days past due, you may be assessed a charge that is equal to 10% of the principle balance as well as a $25 nonsufficient funds fee.</p>
					</div>
					<p class="deploy-title" data-deploy-title="03" onclick="deploy(this)">Collection Practices
					</p>
					<div class="deploy-wrap" data-deploy-wrap="03">
						<p data-deploy-content="03">Many of the lenders in our network stick with in-house debt collection practices rather than selling your debt to an outside collection agency, and they will never sue you or threaten criminal charges against you. Your lender may attempt to collect your debt via email, postal mail, telephone, or text message, and they may offer you a settlement so that you can repay your debt over time. All of our lenders are required to adhere to the Fair Debt Collection Practices Act which protects you from harassment. You can contact your lender for more information about its specific policies.</p>
					</div>
					<p class="deploy-title" data-deploy-title="04" onclick="deploy(this)">Impact on Credit Score</p>
					<div class="deploy-wrap" data-deploy-wrap="04">
						<p data-deploy-content="04">Lenders are within their rights to file reports with the three major credit bureaus—Experian, Equifax and Transunion—if you fail to repay your loan. This negative remark will lower your credit score and may make it impossible for you to obtain personal loans or other forms of credit in the future. However, once you have repaid your debt to your lender in full, this will be reported to the credit agencies and the negative remark will be removed from your credit history.</p>
					</div>
					<p class="deploy-title" data-deploy-title="05" onclick="deploy(this)">
						Renewal Policy
					</p>
					<div class="deploy-wrap" data-deploy-wrap="05">
						<p data-deploy-content="05">Some of the lenders in our network participate in what is known as automatic loan renewal. Simply put, if your loan is beyond a specific amount of time past due, your lender will rollover your loan. This may be offered to you in addition to options like repaying your loan in full at a later date or repaying your debt in installments over time. The minimum term for an automatic renewal is 15 days and you will likely be required to pay renewal fees and additional interest charges.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>

<script src="files/jquery-1.12.1.min.js"></script>
<script src="files/myScripts.js"></script>

</body>
</html>