<div class="features-wrap">
    <div class="features-item">
        <div class="feature-title f1">Request Online</div>
        <div class="feature-text">There are no fees to submit your request and no obligation to accept the loan</div>
    </div>
    <div class="features-item">
        <div class="feature-title f2">Safe and Secure</div>
        <div class="feature-text">You can be sure that your information remains safe and secure with us </div>
    </div>
    <div class="features-item">
        <div class="feature-title f3">Get Results Fast</div>
        <div class="feature-text">After you submit your form you can be matched with one of our lenders </div>
    </div>
    <div class="features-item">
        <div class="feature-title f4">Cash Straight Away</div>
        <div class="feature-text">If you agree to the lender's terms, e-sign the contract and have cash deposited into your account </div>
    </div>
</div>
