<div class="features-wrap">
    <div class="features-item">
        <i class="fa fa-desktop fa-2x"></i>
        <div class="feature-title">Get Started Now</div>
        <div class="clearfix"></div>
        <div class="feature-text">Simple, Easy Loan Request Form</div>
    </div>
    <div class="features-item">
        <i class="fa fa-clock-o fa-2x"></i>
        <div class="feature-title">Fast Loan Decision</div>
        <div class="clearfix"></div>
        <div class="feature-text">Fast Online Processing and Approval</div>
    </div>
    <div class="features-item">
        <i class="fa fa-vcard-o fa-2x"></i>
        <div class="feature-title">Good or Bad Credit</div>
        <div class="clearfix"></div>
        <div class="feature-text">No Problem if you have bad credit history, we have good payday lenders</div>
    </div>
    <div class="features-item">
        <i class="fa fa-moneymargin fa-2x"></i>
        <div class="feature-title">Cash Straight Away</div>
        <div class="clearfix"></div>
        <div class="feature-text">Lenders can deposit money directly to your bank account.</div>
    </div>
</div>
