<div class="form-wrap">
    <div class="form-text">
        <span class="online-cash">Online Personal Loans up to $3,000</span>
        <span class="get-started">Start Your Online Form</span>
    </div>
    <div class="form">
        <form action="apply.html" method="get" id="lead-form" novalidate>
            <div class="form-row">
                <span class="custome-select-wrap js_element_error">
                    <select class="custome-select" name="requested_amount" id="sa">
                        <option value="200">200</option>
                        <option value="400">400</option>
                        <option value="600">600</option>
                        <option value="800">800</option>
                        <option value="1000" selected="selected">1000</option>
                        <option value="1200">1200</option>
                        <option value="1400">1400</option>
                        <option value="1600">1600</option>
                        <option value="1800">1800</option>
                        <option value="2000">2000</option>
                        <option value="2200">2200</option>
                        <option value="2400">2400</option>
                        <option value="2600">2600</option>
                        <option value="2800">2800</option>
                        <option value="3000">3000</option>
                    </select>
                </span>
                <span class="js_element_error">
                    <input id="sz" size="5" maxlength="5" name="zip" type="text" placeholder="ZIP" tabindex="2" />
                </span>
            </div>
            <div class="form-row">
                <span class="js_element_error">
                    <input id="sf" name="first_name" type="text" placeholder="First Name">
                </span>
                <span class="js_element_error">
                    <input id="sl" name="last_name" type="text" placeholder="Last Name">
                </span>
            </div>
            <button class="btn btn-yellow">Get Started</button>
            <span class="custome-checkbox-label">By submitting your information you agree to <a target="_blank" href="privacy-policy.html">Privacy Policy</a>, <a target="_blank" href="terms-of-use.html">Terms of Use</a> and <a target="_blank" href="responsible-lending.html">Responsible Lending Practices</a></span>
            <input type="hidden" name="loan_type" value="payday" />
        </form>
    </div>
</div>