<div class="form-wrap">
    <div class="form-text">
        <h2 class="online-cash" title="payday loans">Online Personal Loans up to $3,000</h2>
        <span class="get-started">Start Your Online Form</span>
    </div>
    <div class="form">
        <form action="apply.html" method="get" id="lead-form" novalidate>
            <div class="form-row">
                <span class="custome-select-wrap js_element_error">
                    <select class="custome-select" name="requested_amount" id="sa">
                        <option value="200">200</option>
                        <option value="400">400</option>
                        <option value="600">600</option>
                        <option value="800">800</option>
                        <option value="1000" selected="selected">1000</option>
                        <option value="1200">1200</option>
                        <option value="1400">1400</option>
                        <option value="1600">1600</option>
                        <option value="1800">1800</option>
                        <option value="2000">2000</option>
                        <option value="2200">2200</option>
                        <option value="2400">2400</option>
                        <option value="2600">2600</option>
                        <option value="2800">2800</option>
                        <option value="3000">3000</option>
                    </select>
                </span>
                <span class="js_element_error">
                    <input id="sz" size="5" maxlength="5" name="zip" type="text" placeholder="ZIP" tabindex="2" />
                </span>
            </div>
            <div class="form-row">
                <span class="js_element_error">
                    <input id="sf" name="first_name" type="text" placeholder="First Name">
                </span>
                <span class="js_element_error">
                    <input id="sl" name="last_name" type="text" placeholder="Last Name">
                </span>
            </div>
            <button class="btn btn-yellow">Get Started</button>
            <p class="custome-checkbox-label">You agree to <a href="privacy-policy.html" target="_blank" title="Privacy Policy">Privacy Policy</a> and <a href="disclaimer.html" target="_blank" title="Disclaimer">Disclaimer</a> by filling in the form and submitting the information</p>
            <input type="hidden" name="loan_type" value="payday" />
        </form>
    </div>
</div>