include _head

<!--[if lt IE 8]>
<body class="lt-ie9 lt-ie8 ie7 "> <![endif]-->
<!--[if IE 8]>
<body class="lt-ie9 ie8 "> <![endif]-->
<!--[if IE 9]>
<body class="ie9 "> <![endif]-->
<!--[if gt IE 9]><!-->
<body> <!--<![endif]-->

<section class="header-wrap">
    <header>
        <div class="logo">
            <a href="/" class="ir">PayDayLV.com</a>
        </div>
        <div class="slogan-wrap">
            <span class="slogan">Online <a href="apply-now.html" title="payday loans">payday loans</a>. Fast Loan Decision.</span>
        </div>
        <div class="certificate">
            <img alt="" src="files/images/certificate.jpg">
        </div>
    </header>
    <nav class="top-nav-wrap">
        <ul class="top-nav">
            <li class="top-nav-item ">
                <a class="top-nav-link" href="apply-now.html">Start</a>
            </li>
            <li class="top-nav-item ">
                <a class="top-nav-link" href="how-it-works.html">How It Works</a>
            </li>
            <li class="top-nav-item ">
                <a class="top-nav-link" href="faq.html">F.A.Q</a>
            </li>
            <li class="top-nav-item ">
                <a class="top-nav-link" href="about-us.html">About Us</a>
            </li>
        </ul>
    </nav>
</section>
