- var title = "Payday Loans For Military Consumers Las Vegas"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>


<section class="main-container">
    <div class="article">
        <h1 title="For Military Consumers" class="article-title">For Military Consumers</h1>
        <div class="article-p">
                     <p>Payday loans (and certain other financing) offered to servicemembers and their dependents must include certain protections, under Federal law and a Department of Defense rule. For example, for payday loans offered after October 1, 2007, the military annual percentage rate cannot exceed 36%. Most fees and charges, with few exceptions, are included in the rate. Creditors also may not, for example, require use of a check or access to a bank account for the loan, mandatory arbitration, and unreasonable legal notices. Military consumers also must be given certain disclosures about the loan costs and your rights. Credit agreements that violate the protections are void. Creditors that offer payday loans may ask loan applicants to sign a statement about their military affiliation.</p>
        <p>Even with these protections, payday loans can be costly, especially if you roll-over the loan. You instead may be able to obtain financial assistance from military aid societies, such as the Army Emergency Relief, Navy and Marine Corps Relief Society, Air Force Aid Society, or Coast Guard Mutual Aid. You may be able to borrow from families or friends, or get an advance on your paycheck from your employer. If you still need credit, loans from a credit union, bank, or a small loan company may offer you lower rates and costs. They may have special offers for military applicants, and may help you start a savings account. A cash advance on your credit card may be possible, but it could be costly. Find out the terms for any credit before you sign. You may request free legal advice about a credit application from a service legal assistance office, or financial counseling from a consumer credit counselor, including about deferring your payments.</p>
        <p>Military consumers can contact the Department of Defense, toll-free 24 hours a day, 7 days a week, at 1-800-342-9647, or at <a href="http://www.militaryonesource.com/" target="_blank">www.militaryonesource.com.</a> Information on the Department of Defense rule, alternatives to payday loans, financial planning, and other guidance is available.</p>
        <p>This article was previously available as Payday Loans Equal Very Costly Cash: Consumers Urged to Consider the Alternatives.</p>
        </div>
        
        <div class=""></div>
    </div>
</section>

include partials/_footer
