- var title = "Get Started"
include partials/_header

<section class="main-container">
    <div class="offer-form-container ">
        <span class="online-cash">Complete Our Online Form to Get a Loan</span>
        <span class="get-started">Get fast decision and get your loan in as soon as one business day if approved
        </span>
        <div class="offer-form formheader">

            <script src="files/loanRequestForm.js"></script>

        </div>
        <div class="offer-form-features">
            include partials/_form-features
        </div>
    </div>

</section>

include partials/_footer
