- var title = "Contact Us"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>


<section class="main-container">
    <div class="article">
        <h1 class="article-title">Contact Us</h1>
        <div class="article-p">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rem nemo quas odit modi fugiat. Laborum maxime qui praesentium, commodi eligendi, recusandae, a placeat eaque neque sed laboriosam quibusdam officia?</p>
        </div>
        
        <div class=""></div>
    </div>
</section>

include partials/_footer
