- var title = "Contact Us"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>


<section class="main-container">
    <div class="article">
        <h1 class="article-title">Contact Us</h1>
        <div class="article-p">
            <p>It is our goal to provide you with the best, friendliest and most knowledgeable customer service experience possible. If you have questions about our website or the loan in general that are not answered in our FAQ section, please use any of the methods below to contact us. We will respond to your queries within 48 hours. </p>
            <p>Please remember that this service is not a lender. In order to protect your privacy, we do not have any information regarding your loan or offers for loans. These questions should be directed to the lender who provided the loan or offer. </p>
            <p>Email: contact@extralend.com</p>
        </div>
        
        <div class=""></div>
    </div>
</section>

include partials/_footer
