- var title = "Contact Us"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>


<section class="main-container">
    <div class="article">
        <h1 class="article-title">Contact Us</h1>
        <div class="article-p">
            <h2 title="Payday Loans LV">Contact PaydayLoansLV</h2>
            <h3 title="Payday loans">Need can be generate any time so we are here to help you 24 hours in a day. Just contact us via email for quick <a href="apply-now.html" title="payday loans">payday loans</a> solution, email: info@paydaylv.com</h3>

            <form class="form-contact" id="ContactForm"> 
                <fieldset class="cf form form-contact"> 
                    <div class="form-col"> 
                        <div class="row"> 
                            <input type="text" id="Name" maxlength="50" value="" name="Name" placeholder="Name" class="required" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"> 
                        </div> 
                        <div class="row"> 
                            <input type="text" id="ContactEmail" maxlength="50" value="" name="ContactEmail" placeholder="Email" class="required">
                        </div> 
                        <div class="row"> 
                            <input id="Phone" type="text" value="" name="Phone" placeholder="Phone" class="required"> 
                        </div> 
                        <div class="row"> 
                            <textarea name="Message" id="Message" cols="30" rows="10" placeholder="Message" class="required"></textarea>
                        </div> 
                        <div class="row"> 
                            <a class="r-btn btn btn-yellow" href="https://www.paydaylv.com" id="Contact">Submit</a> 
                        </div> 
                    </div>
                </fieldset>
            </form>
            <div class="thakyoumsg" style="display:none"> 
                <p>Thank you for contacting us.</p> 
                <p>Our support team will review your request.</p>
            </div>
            <div class="svcerrormsg" style="display:none"> 
                <p>Some error has occurred while submitting the request. Please try again.</p>
            </div>
        </div>
        
        <div class=""></div>
    </div>
</section>

include partials/_footer
