- var title = "FAQ"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>


<section class="main-container">
    <div class="article">
        <h1 class="article-title">F.A.Q.</h1>
        <div class="article-p">
            <p>The following questions and answers represent those that we are most commonly asked in regard to personal lending and our website in general. If the answer to your question is not listed here, please visit our Contact Us page to send us your inquiry and we will respond as quickly as possible. If your question pertains to a particular loan or offer for credit, you should inquire directly with your lender. </p>
            <p><strong>What is a Personal Loan?</strong></p>
            <p>A personal loan is a medium term loan with a fixed interest rate that is  repaid in equal monthly payments and it's usually limited to 24 months.  Loan offers and eligibility depend on your individual credit profile. Our lenders can help you obtain as much as $3,000 depending on the lender, your state and your financial situation. </p>
            <p><strong>How Can I Qualify for a Personal Loan?</strong></p>
            <p> You need to be 18 years old or older, legally employed and living in the  United States,have a bank account in your name, have a valid email address, have a working telephone number and meet the minimum income requirements as set forth by your lender. Some lenders may offer funds if you do not have an employer as long as  you are still receiving regular income through SSI or other  methods. You should check each lender’s terms carefully as we cannot provide you with any guarantee. </p>
            <p><strong>How long does it take?</p>
            <p>Fisrt of all, you need to fill out and submit our simple request form. Then we forward your request to our lenders that provide personal loans. Once approved you will receive your loan details for the final decision. </p>
            <p><strong>What if I Have Multiple Jobs or I am Self-Employed?</strong></p>
            <p> If you have multiple jobs, you should disclose the information about your primary job on your request form and then provide additional information about second or even third jobs during communication with your lender. Similarly, if your lender asks you to send them paycheck stubs, you should send stubs from all of your employers. If you are self-employed, you only need to show that you have significant income to meet the lender’s guidelines and that your business has been established and your income has been regular for 90 days or more. </p>
            <p><strong>Is it safe?</strong></p>
            <p>We use the latest security technology and top quality standards to protect  personal information you provide to us. If you require any additional information, please visit our Privacy Policy. </p>
            <p><strong>How Much Does it Cost?</strong></p>
            <p>The total amount that you will be expected to repay is determined by several factors including your financial situation, your lender, the state in which you live, the amount of money you borrow and whether or not you repay your loan on time. Some of the fees that may be applied to your loan include finance charges, interest, late fees, rollover charges and more. Please review your offers carefully to determine exact charges. </p>
            <p><strong>Will I Have to Fax Documents?</strong></p>
            <p>Although it is the goal of our lenders to provide you with the funds you need as quickly as possible, there may be times when your additional information will have to be verified to reduce the lenders’ risks. You may be asked to provide proof of employment, bank account status and legal status within the United States to obtain a loan. If you do not have a fax machine, your local UPS Store or public library can help you fax these documents for a small per-page fee. </p>
            <p><strong>What if I Have Questions about the Lending Terms?</strong></p>
            <p>According to the Truth in Lending Act, each lender is required to provide you with the terms, conditions and charges associated with your loan in writing before extending any credit to you. If you have questions regarding the terms of a loan offer, or if you do not agree with these terms, this should be directed to the lender who made the offer and you should not accept the offer until clarification has been provided. Since we are not a lender, we cannot offer such clarification. However, we do want to remind you that once you have provided an electronic signature, you are contractually obligated to follow its provisions. Therefore, please read your offers carefully and ask your lender about anything you do not understand. </p>
            <p><strong>How Do I Request a Match?</strong></p>
            <p>Requesting a match with a lender is as simple as visiting our online form page and taking two minutes to fill it out for free. We only ask you for the information that is absolutely necessary for processing your request for credit. Once this has been completed, the information is forwarded throughout our network of lenders. If you are matched with a lender and approved for a loan, your lender will contact you via email; you may also be redirected to that lender’s website home page. You should review the offer you get carefully, and if you agree with the terms, e-sign loan agreement. After you have provided your signature, your funds will be deposited into your bank account in as soon as the following business day in most cases. </p>
            <p><strong>How Do I Repay My Loan?</strong></p>
            <p>The terms associated with the repayment of your loan will also be detailed in the terms and conditions you receive from your lender. In most cases, the lender will simply withdraw equal monthly personals you owe—the loan amount plus fees  and interest—from your bank account on the repayment dates; you only need to  ensure that the funds are available on that date. If you cannot do so, please  contact your lender as soon as possible. You may be eligible for alternatives  like rollovers or extensions that could save you money in the long run. </p>
            <p><strong>What if I Have Questions about My Loan?</strong></p>
            <p>If you have any questions regarding a particular loan, you should discuss them with your lender as soon as possible. In order to protect your privacy, this service does not have access to any information about your loan. Your loan agreement should contain all contact information so that you can reach the lender if you have any issues. If your lender fails to respond or if you feel that the answer you receive is unsatisfactory or unfair, you can contact various government agencies through the links we provide. These agencies will work to help you obtain issue resolution. </p>
            <p><strong>How Many Loans Can I Have at One Time?</strong></p>
            <p>Although we discourage you from taking out more than one loan at any given time, there are some states that allow for two or sometimes even three outstanding loans at the same time. When you request a new loan, you are required to disclose any information about your existing loans in your request form. Even in states that allow multiple loans, there may be limits on the total amount of credit that can be extended to you, meaning that you may be denied. Our lenders also reserve the right to refuse credit to anyone who already has an outstanding loan regardless of the regulations in that state. </p>
            <p><strong>What if I Cannot Repay My Loan on Time?</strong></p>
            <p>First and foremost, you should review your loan offer and finances carefully before filling out the form, and you should never request loan if there is any doubt that you will be able to repay the loan on time. However, our lenders understand that emergencies happen, and many offer alternatives. If for any reason you are unable to repay your loan on time, you should contact your lender as soon as possible. You may be subject to debt collection attempts, but our lenders can never threaten criminal action against you. You should also remember that your debt will continue to accrue interest at a very high rate until it is unpaid. </p>
            <p><strong>Why was My Request Denied?</strong></p>
            <p>If your request was denied, this could be for several reasons. First, it could be that you did not meet the basic criteria associated with obtaining a personal loan. You will also be denied for a loan if you are currently in bankruptcy, if you are in default with another personal loan lender, or perhaps even if you already have an outstanding loan with another lender that is still in good standing. If you feel that you have been discriminated against in any way, please contact the Consumer Financial Protection Bureau. </p>
            <p><strong>Can I Request a Loan From the Same Lender Again?</strong></p>
            <p>If you had a great experience with a particular lender and you would like to use that lender again, you can certainly do so. In fact, this is even encouraged as it will help you build a business relationship with that lender which could lead to larger loans, lower interest rates and access to other credit-related products offered by that lender. Simply review the loan agreement or any communication you received from that lender to obtain their contact information and request a loan directly.</p>
        </div>


        <div class="">
        </div>
    </div>
</section>

include partials/_footer