- var title = "FAQ"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>


<section class="main-container">
    <div class="article">
        <h1 class="article-title">F.A.Q.</h1>
        <div class="article-p">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae vero enim perferendis. Beatae deleniti esse ipsum corporis fuga ipsa itaque vel eius, est qui numquam minus accusamus officia illum quisquam!</p>
            <p><strong>First Question?</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia et mollitia expedita, facilis qui vero dignissimos voluptatum modi fuga nesciunt vel ad saepe tenetur harum voluptates, illum, hic numquam eveniet!</p>
            <p><strong>Second Question?</strong></p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime eum expedita quibusdam ex incidunt inventore error accusamus, cum delectus ea, obcaecati pariatur quam distinctio cupiditate itaque dolore adipisci, possimus assumenda!</p>
        </div>

        <div class="">
        </div>
    </div>
</section>

include partials/_footer