- var title = "How It Works"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>

<section class="main-container">
    <div class="article">
        <h1 class="article-title">How Online Personal Loans Work</h1>
        <div class="article-p">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aspernatur distinctio, minus repudiandae odit consectetur voluptatum doloribus beatae autem molestiae corrupti minima, corporis perferendis. Sequi animi aliquam ea nam! Sed.</p>
        </div>

        <div class=""></div>
    </div>
</section>

include partials/_footer