- var title = "Online Personal Loans up to $3,000"
include partials/_header

<section class="banner">
    <div class="form-container">
        include partials/_get-started-form
    </div>
</section>

<section class="main-container">
    <div class="features-wrap">
        <div class="features-item">
            <div class="feature-title f1">Request Online</div>
            <div class="feature-text">There are no fees to submit your request and no obligation to accept the loan</div>
        </div>
        <div class="features-item">
            <div class="feature-title f2">Security</div>
            <div class="feature-text">You can be sure that your information remains absolutely secure with us</div>
        </div>
        <div class="features-item">
            <div class="feature-title f3">Get Results Fast</div>
            <div class="feature-text">After you submit your information we can match you with a lender</div>
        </div>
        <div class="features-item">
            <div class="feature-title f4">Cash Straight Away</div>
            <div class="feature-text">If you agree to the lender's terms, e-sign the contract and have cash deposited into your account</div>
        </div>
    </div>
    <div class="article">
        <h1 class="article-title">How to Get a Loan?</h1>
        <p>Online personal loans can be the right solution to your financial troublesmbecause they are easily obtained and easily repaid, and the costs associated withmthem are highly comparable to other forms of credit as long as they are repaid onmtime. Bad credit or no credit are also welcomed to try to get matched with a lender.</p>
        <div class="step-wrap">
            <div class="step">
                <div class="step-title">
                    <span class="step-number">1</span> Fill Out Online Form
                </div>
                <div class="step-text">Getting a personal loan starts with submitting the quick online form that we have provided. We will only ask you for the information we need to match you with a lender. We also protect your information with 256-bit secure SSL encryption technology so you can rest assured we are concerned about your privacy.</div>
            </div>
            <div class="step">
                <div class="step-title">
                    <span class="step-number">2</span> Get Results Fast
                </div>
                <div class="step-text">After your information has been submitted, you can receive an offer from one of the lenders in our network. Please take the time to review the offer carefully — including all of the costs and terms — before making your final decision.</div>
            </div>
            <div class="step">
                <div class="step-title">
                    <span class="step-number">3</span> Complete Your Request
                </div>
                <div class="step-text">After you have made your decision, you will need to provide your electronic signature which will enter you into a contract with your lender. Then that lender can deposit the offered funds into your bank account in as soon as the following business day.</div>
            </div>
        </div>
    </div>
    <div class="block carousel-height" style="height: 225px;">
        <p class="block-title">Do I Qualify for a Loan?</p>
        <ul class="list-bullet">
            <li>You must be at least 18 years old</li>
            <li>You must live and work legally within the US</li>
            <li>You must be employed with the same employer for at least 90 days consecutively</li>
            <li>You must have a valid email address and working telephone number</li>
            <li>You must have a bank account in your name</li>
        </ul>
    </div>
</section>

include partials/_footer