- var title = "Lending Policy"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>

<section class="main-container">
    <div class="article">
        <h1 class="article-title" title="Payday Loans in Las Vegas Nevada Policy on Responsible Lending">Payday Loans in Las Vegas Nevada Policy on Responsible Lending</h1>
        <div class="article-p">
            <p> Paydaylv.com is dedicated to safeguarding its consumer's from malicious <a href="https://www.paydaylv.com/apply-now.html">payday loan</a> lenders who engage in illicit lending techniques. We equip consumers with the knowledge they need in order to make responsible and informed decisions.</p><p><strong>Trust and Truth</strong><br>PaydayLV.com's practices and policies have always and will always conform to the regulations which have been set forth by the Fair Lending Laws like the Truth in Lending Act. Prior to a consumer assuming any obligation in order to initiate the lending process they should and will be presented in writing the exact fees, rates, charges and roll over charges in addition to other details about their loan. You can visit our Rates and Fees to find out about the current regulations and laws in your state.</p><p><strong>Fair Lending</strong><br>According to the Dodd-Frank Wall Street Reform Act every lender which includes payday loan lenders need to engage in what it terms as "fair lending" practices. The Consumer Financial Protection Bureau has been tasked by this act to enforce fair lending rules and regulations.</p><p><strong>Practices for Fair Debt Collection</strong><br>We try to work with lenders that follow all the provisions of the stated Fair Debt Collection Practices Act which is enforced currently by the Federal Trade Commission. is not the actual lender. does not collect any debts from consumers. Every lender in our network is required to follow the following Statues which are: </p><ul> <li>Calling consumers on their telephone prior to 8 a.m. or post 9 p.m.</li> <li>Contacting their consumers via telephone with the malicious intent of harassing, or annoying or even using abusive language is prohibited</li> <li>Using misrepresentation and deception for debt collection</li> <li>Threatening with legal recourse even though no legal action is allowed</li></ul><p>If a lender is found to be violating any of the above FDCPA statues will not hesitate to stop doing business with that company and file a report with the Federal Trade Commission.</p><p><strong>Current State Regulations</strong><br> encourages lenders in its network to follow federal and state regulations. These often include the strict conformity with local laws in regards to their interest rates, maximum loan terms, rollover limits, fees, cool off periods in between loans, and much more.</p>
        </div>

        <div class=""></div>
    </div>
</section>

include partials/_footer