- var title = "Unsubscribe"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>

<section class="main-container">
    <div class="article">
        <div class="main-col content-editable">
        <h1 class="article-title">Unsubscribe</h1>
        <div class="article-p">
            <form class="form-unsubscribe" id="UnsubscribeForm"> <fieldset class="cf form form-unsubscribe"> <div class="form-col"> <div class="row"> <input type="text" id="SubscriberEmail" maxlength="50" value="" name="SubscriberEmail" placeholder="Email" class="required"> <a class="btn" href="https://www.paydaylv.com" id="Unsubscribe">Submit</a> </div> </div> </fieldset> </form>
        </div>
        </div>

        <div class=""></div>
    </div>
</section>

include partials/_footer