- var title = "Why Choose Us"
include partials/_header

<section class="form-top">
    include partials/_get-started-form
</section>

<section class="main-container">
    <div class="article">
        <h1 class="article-title">Why Choose Us</h1>
        <div class="article-p">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quam, nihil cupiditate minus dolores ipsa nisi et pariatur, laboriosam autem assumenda eveniet recusandae doloribus facilis voluptatum nostrum. Necessitatibus, totam praesentium.</p>
        </div>

        <div class=""></div>
    </div>
</section>

include partials/_footer